*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 30vh;
    background-color: darkgrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2vh;
}

body{
    padding: 2% 5% 2% 5%;
    background-color: lightgray;
}

nav{
   background-color: dimgray; 
   display: flex;
   justify-content: center;
}

nav ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

nav li{
    display: flex;
    width: 100%;
}

nav a{
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5%;
}

nav a:hover{
    background-color: white;
    color: dimgray;
}

footer{
    text-align: center;
}