*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #bed0ae;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}

main{
    background-color: whitesmoke;
    padding: 2%;
}

header{
    color: darkslategray;
}

h1, h3{
    padding: 2% 0 2% 0;
}
nav{
    background-color: darkslategray;
}

nav > ul{
    display: flex;
    width: 70%;
}

nav li{
    width: 100%;
    display: flex;
}

nav a{
    color: bisque;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10%;
    width: 100%;
    text-align: center;
}

nav a:hover{
    background-color: beige;
    color: black;
}

main > section{
    display: flex;
    padding-bottom: 2%;
}

section > article{
    padding-top: 2%;
}

section > article:first-child p{
    padding: 2% 0 2% 0;
}
section > article:first-child ul{
    padding-left: 25%;
}
section > article:last-child{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}


section h3{
    color: darkslategray;
}

article > aside{
    border: 1px dashed black;
    padding: 5%;
    text-align: justify;
}

aside > p{
    padding-bottom: 5%;
    padding-top: 5%;
    line-height: 1.5;
}

aside ul{
    padding-left: 20%;
}

aside li{
    list-style-type: square;
    font-size: 14px;
    padding-bottom: 2%;
}

aside a{
    text-transform: capitalize;
}

footer{
    background-color: darkslategray;
    color: bisque;  
    font-size: 16px;
    padding: 2%;
    text-align: center;
}

a{
    color: darkcyan;
}

time{
    font-weight: 600;
    color: darkslategrey
}

p{
    text-align: justify;
    width: 95%;
    line-height: 1.5;
}

