@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Quicksand', sans-serif;
}

@media (min-width: 200px){
    nav{
        display: none;
    }
    header{
        background-image: url("../img/banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;

        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        padding: 5%;
    }

    header h1{
        font-size: 38px;
        color: white;
        text-align: left;
    }

    header h2{
        text-align: center;
        color: white;
        font-size: 18px;
    }
    header span{
        color: #ec664d;
    }

    main{
        background-color: whitesmoke;
    }

    main h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
    }

    main > section {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
        padding: 5% 0% 5% 0%;
    }

    main > section > a{
        text-align: center;
        border: 2px solid #ec664d;
        color: #ec664d;
        padding: 2%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 26px;
    }

    .about{
        padding: 7%;
    }

    .about > section:nth-child(2){
        display: flex;
        column-gap: 3vh;
    }

    .about > section:nth-child(2) > article{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 45%;
        text-align: center;
    }

    .about > section:nth-child(2) > figure{
        width: 45%;
    }

    .about img{
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
    }

    .about > section:nth-child(3),
    .about > section:nth-child(3) article{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 100%;
    }

    .about div > aside:first-child{
        position: relative;
        width: 100%;
    }
    .about div > aside:first-child small{
        position: absolute;
        left: 68%;
    }
    .about div > aside:last-child{
        width: 100%;
        background-color: lightgray;
        height: 2vh;
    }
    .about div > aside > aside{
        width: 75%;
        background-color: #ec664d;
        height: 2vh;
    }

    .work{
        background-color: #2e3e4e;
        color: white;
        text-align: center;
    }

    .work h2{
        color: #ec664d;
    }

    .work figure{
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2vh;
        row-gap: 2vh;
    }

    .work img{
        width: 30%;
    }

    .services{
        text-align: center;
        padding: 5%;
    }

    .services > article:nth-child(3){
        display: flex;
        flex-direction: column;
        row-gap: 8vh;
    }

    .services > article:nth-child(3) > aside{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
    }

    .services aside > i{
        background-color: #ec664d;
        color: white;
        font-size: 48px;
        padding: 5%;
        width: 20%;
        height: 20%;
        border-radius: 50%;
    }

    .services aside > p{
        width: 60%;
    }

    .contact{
        background-color: #2e3e4e;
        color: white;
        padding: 5% 5% 20% 5%;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .contact > article:nth-child(3){
        display: flex;
        column-gap: 3vh;
    }

    .contact i{
        color: white;
        font-size: 32px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        width: 100%;
    }
    input, textarea{
        width: 85%;
        border: none;
        border-bottom: 1px solid white;
        padding: 5%;
        background-color: #2e3e4e;
        color: white
    }
    [type="submit"]{
        border: 1px solid white;
        width: 40%;
        padding: 3%;
        margin-top: 15%;
        text-align: center;
    }

    footer{
        background-color: #2e3e4e;
        color: white;
        padding: 10%;
        text-align: center;
    }

    footer a{
        text-decoration: none;
        color: #ec664d;
    }
}

@media (min-width: 700px){

    header{
        height: 30vh;
    }

    .about > section:nth-child(2){
        column-gap: 0vh;
    }

    .about > section:nth-child(2) > article{
        row-gap: 1vh;
        width: 70%;
        text-align: center;
        justify-content: center;
    }

    .about > section:nth-child(2) > figure{
        padding-left: 5%;
        width: 30%;
    }
    .about img{
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
    }
    p::after{
        content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur omnis dolores cum at, ducimus a eius consequatur ex aliquid.";
    }
    .work figure{
        column-gap: 1vh;
    }

    .work img{
        width: 23%;
    }

    .services > article:nth-child(3){
        flex-direction: row;
    }

    .services aside > i{
        font-size: 36px;
        padding: 5%;
        border-radius: 50%;
    }

    .services aside p::after{
        content: "Lorem ipsum dolor sit amet.";
    }

    .contact{
        padding: 5% 5% 10% 5%;
    }

    form{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2vh;
    }

    input{
        width: 25%;
    }

    input, textarea{
        padding: 3%;
    }

    textarea{
        width: 100%;
    }

    [type="submit"]{
        width: 30%;
        margin-top: 5%;
        margin-left: 35%
    }

    footer{
        padding: 5%;
    }
}

@media (min-width: 1000px){
    header{
        padding: 3%;
        height: 45vh;
    }

    header > section:first-child{
        padding: 0% 10% 0% 10%;
        display: flex;
        justify-content: space-between;
    }

    header h1{
        font-size: 48px;
    }

    header h2{
        font-size: 28px;
    }

    nav{
        display: flex;
        width: 50%;
    }

    nav ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    nav li{
        display: flex;
    }

    nav a{
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    nav a:hover{
        color: #ec664d;
    }

    .about, .contact{
        padding: 2% 15% 2% 15%;
    }

    .about > section:nth-child(2){
        column-gap: 0vh;
    }

    .about > section:nth-child(2) > article{
        row-gap: 3vh;
        width: 70%;
    }

    .about > section:nth-child(2) > figure{
        padding-left: 5%;
        width: 30%;
    }
    .about img{
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
    }

    .about > section:nth-child(3){
        flex-direction: row;
        column-gap: 2vh;
    }

    .services aside > i{
        background-color: #ec664d;
        color: white;
        font-size: 58px;
        padding: 5%;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
    }

    textarea{
        width: 70%;
    }

    [type="submit"]{
        width: 15%;
        padding: 1%;
        margin: 5% 5% 0% 0%;

    }

}