*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --bgPink:#fbf6fa;
    --bgBody:#7b6373;
}

body{
    padding: 0% 5%;
    background-color: var(--bgBody);
}

main, header, nav, footer{
    background-color: var(--bgPink);
}

header{
    height: 30vh;
    padding: 3% 1% 0% 1%;
}

header > article{
    height: 100%;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25vh;
    display: flex;
    justify-content: right;
}

main{
    display: flex;
    column-gap: 1vh;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav li{
    list-style-type: none;
    display: flex;
}

nav a{
    color: darkmagenta;
    text-decoration: none;
    font-weight: 600;
    padding: 10%;
    text-align: center;
}

nav a:hover{
    color: black;
    text-decoration: underline;
    transition: .4;
}

h1{
    padding: 4%;
    color: white;
    text-transform: capitalize;
    letter-spacing: 5%;
}

h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}

h5{
    color: darkmagenta;
    text-transform: uppercase;
}

p{
    line-height: 1.5;
}



.left{
    width: 70%;
}

.right{
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.right h2{
    background-color: darkmagenta;
    color: white;
    border-radius: 25vh;
    text-align: center;
    font-weight: 300;
    padding: 1%;
}

.right > article:first-child{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.right aside{
    display: flex;
    flex-direction: column;
    border: .5px solid white;
    background-color: pink;
    padding: 5%;
    row-gap: 3vh;
    height: 15vh;
}

.right p{
    line-height: 1.5;
}

.right ul{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding-top: 6%;
    padding-left: 15%;
}

.right a{
    text-decoration: none;
    color: black;
}

.right a:hover{
    text-decoration: none;
    color: black;
}

.left h2{
    border-top: 1px dashed violet;
    border-bottom: 1px dashed violet;
}

.left > article:nth-child(2){
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}

.left > article > blockquote{
    width: 80%;
    color: olivedrab;
    line-height: 2;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

.left > article:nth-child(2) > article{
    display: flex;
}

.left > article:nth-child(2)  p{
    width: 70%;
}

.left > article > blockquote{
    width: 80%;
}

.left article > article{
    width: 100%;
    display: flex;
}

.left > article:last-child{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.left aside{
    background-color: darkmagenta;
    height: 10vh;
    width: 10vh;
    border: 10px solid white;
    outline: 1px solid dimgray;
    float: left;
    margin-right: 2vh;
}

.pink-quote{
    width: 20%;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

.pink-quote span{
    font-family: 'Times New Roman', Times, serif;
    color: var(--bgBody);
}

.pink-quote span:nth-child(odd){
    color: mediumvioletred;
}

