@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* MOBILE CSS */
@media (min-width: 200px) {

    body{
        background-color: darkslateblue;
        padding: 7%;
    }
    nav{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        row-gap: 3vh;
        height: 30vh;
    }
    header h1{
        font-size: 36px;
        text-align: center;
    }
    header i{
        font-size: 26px;
    }
    header > article{
        display: flex;
        column-gap: 5vh;
    }
    main{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }
    main > section{
        background-color: white;
        padding: 7%;
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    main p{
        line-height: 1.5;
    }

    main > section > article{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 3vh;
        color: white;
        padding: 5%;
    }
    footer i{
        font-size: 26px;
    }
    footer article{
        display: flex;
        column-gap: 3vh;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 36px;
    }

    .about p{
        text-align: left;
        font-weight: 300;
    }

    .about aside{
        background-image: url("../img/IMG_0969\ Small.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
        border: 1px solid white;
        border-radius: 100vh;
    }

    .about > article > article{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .projects figure{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .projects figcaption{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .projects h3{
        font-size: 18px;
    }

    .projects img{
        height: 40vh;
    }

    .projects span{
        font-size: 14px;
        font-weight: 300;
    }

    .work section, .education section{
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .work span{
        font-size: 16px;
        font-weight: 300;
    }

    .education span{
        font-size: 16px;
        font-weight: 300;
    }

    .language article{
        row-gap: 1vh;
    }

    .language article > aside{
        display: flex;
        flex-direction: row;
        column-gap: 1vh;
    }

    .social a{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }

    .social a > i {
        border: 1px solid black;
        border-radius: 50vh;
        padding: 4%;
    }

    .contact form{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .contact input, textarea{
        background-color: #eeeeee;
        width: 90%;
        border: none;
        padding: 5%;
    }

    .contact [type="submit"]{
        background-color: darkslateblue;
        border-radius: 50vh;
        width: 55%;
        color: white;
    }
}

/* TABLET VERSION */
@media (min-width: 700px) {
    header{
        height: 20vh;
    }
    header i, footer i{
        font-size: 48px;
    }

    header p, footer span{
        font-size: 20px;
    }

    main{
        row-gap: 3vh;
    }

    main > section{
        padding: 5%;
        row-gap: 2vh;
    }

    .about > article{
        flex-direction: row;
        column-gap: 5vh;
    }

    .about aside{
        width: 35%;
        height: 25vh;
    }

    .about > article > article{
        width: 60%;
        row-gap: 2vh;
    }

    .projects > article{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 3vh;
        justify-content: space-around;
    }

    .projects img{
        width: 25vh;
        height: 25vh;
    }

    .work article, .education article{
        row-gap: 3vh;
    }

    .work section, .education section{
        row-gap: 2vh;
    }

    .language article, .social article{
        flex-direction: row;
        justify-content: space-around;
    }

    .social aside{
        width: 25%;
    }

    .social a{
        font-size: 18px;
    }

    .contact [type="submit"]{
        width: 30%;
        padding: 3%;
    }
}

/* DESKTOP CSS */
@media (min-width: 1000px){
    body{
        padding: 5%;
    }
    
    header{
        height: 40vh;
        row-gap: 5vh;
    }

    nav{
        display: block;
        background-color: white;
        width: 100%;
        border-radius: 50vh;
    }

    nav ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    nav li{
        width: 100%;
        display: flex;
    }

    nav a{
        width: 100%;
        color: black;
        font-size: 16px;
        padding: 5%;
        text-align: center;
    }

    nav a:hover{
        background-color: darkslateblue;
        color: white;
    }

    main > section{
        padding: 2%;
        row-gap: 5vh;
    }

    .about > article{
        justify-content: center;
    }

    .about aside{
        width: 20%;
        height: 30vh;

    }
    .about > article > article{
        width: 60%;
        row-gap: 2vh;
        justify-content: center;
    }

    .education > article{
        flex-direction: row;
        justify-content: space-around;
    }

    .social aside{
        text-align: center;
    }

    .social a:hover{
        color: darkslateblue;
        border-color: darkslateblue;
    }

    .contact input, textarea{
        width: 95%;
        padding: 2%;
    }

    .contact [type="submit"]{
        width: 20%;
        padding: 1.5%;
    }

    footer{
        padding: 2%;
    }
}