// SCSS FOR IMPORTS AND VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$greenColor: #2f956d;
$h3about: #0099cc;
$h4about: #cc3399;
$btnBlue: #2d99cc;
$btnGreen: #319966;
$btnRed: #993332;
$fontFamily: Quicksand;