*{
    margin: 0;
    padding: 0;
}

/*
> Angle Brackets
() Brackets
[] square brackets
{} corly brackets
*/

header{
    height: 30vh;
    background-image: url("../img/pexels-arthouse-studio-4641022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    /*Y axis*/
    align-items: center;
    /*X axis*/
    justify-content: center;
}

section{
    height: 45vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

article{
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(50,50,50, 0.5);
}