*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #bed0ae;
    padding-left: 10%;
    padding-right: 10%;
}

main{
    background-color: whitesmoke;
    padding: 2%;
}

header{
    color: darkslategray;
}

h1, h3{
    padding: 2% 0 2% 0;
}
nav{
    background-color: darkslategray;
}

nav > ul{
    display: flex;
    width: 70%;
}

nav li{
    width: 100%;
    display: flex;
}

nav a{
    color: bisque;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5%;
}

footer{
    background-color: darkslategray;
    color: bisque;  
    font-size: 16px;
    padding: 2%;
    text-align: center;
}

a{
    color: darkcyan;
}